/* WorkoutCard.css */

.workout-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    background-color: #c94141;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .workout-card h2 {
    font-size: 20px;
    margin-bottom: 8px;
    color: white;
  }
  
  .workout-card p {
    margin: 0;
    font-size: 16px;
    color: yellow;
  }

 .nav {
  background-color: #333; 
  color: #fff; 
  padding: 10px 0; 
  text-align: center; 
}

.nav h1 {
  font-size: 24px; 
  margin: 0; 
}

.nav a {
  text-decoration: none; 
  color: #fff; 
}

.nav a:hover {
  color: yellow; 
} 


.WorkoutForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
 label {
      display: block;
      margin-bottom: 5px;
    }
  
    input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
  
    button {
      background-color: green;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #93bd1f;
    }
  
    p {
      color: rgb(204, 31, 31);
      margin-top: 10px;
      font-weight: bold;
    }
  
  
